<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <context-param>
        <param-name>avatarDirectory</param-name>
        <param-value>D:/avatars</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>NORMAL</role-name>
    </security-role>

    <!-- Allow public access to login page and resources -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>public-resources</web-resource-name>
            <url-pattern>/login.xhtml</url-pattern>
            <url-pattern>/jakarta.faces.resource/*</url-pattern>
            <url-pattern>/resources/*</url-pattern>
            <url-pattern>*.png</url-pattern>
            <url-pattern>*.jpg</url-pattern>
            <url-pattern>*.css</url-pattern>
            <url-pattern>*.js</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <!-- Secure all other pages -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected-area</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>NORMAL</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>